@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;


}
body{
    background-color: black;
}
:root{
    --pink: #e79ea7;
    -green: #d7fecf;
    --blue: #90c6b9;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

.container{
    width :100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow:hidden;
}

.video{
    
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    z-index:-100;
    right: 0;
    

}
.header{
    width: 100%;
    height: auto;
    padding: 1rem;
    z-index: 1000000;
    background: rgb(0, 0, 0);
    color: white;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: space-between;
}

.header h2{
    font-family: 'Great Vibes', cursive;
    color: white;
    font-size: 3rem;
    background: black;
    background: #90C6B9;
background: radial-gradient(
    circle farthest-corner at center center,
    #90C6B9 0%, 
    #E79EA7 100%
    );
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
text-decoration: none;
}

span{
    background: #e79ea7;
    background: radial-gradient(
    circle farthest-corner at center center,
    #90C6B9 50%, 
    #E79EA7 50%
    );
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-weight:bolder;

}
.btn-search, .btn-shopping {
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    color: var(--black);
    cursor: pointer;
    background: #e79ea7;
    background: radial-gradient(
    circle farthest-corner at center center,
    #90C6B9 50%, 
    #E79EA7 50%
    );
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-weight:bolder;
  }

.header a {
    color: white;
    font-size: 1.8rem;
    padding-left: 2rem;
    font-family: 'Oleo Script Swash Caps', cursive;
    font-weight: lighter;
    text-decoration: none;
}
.logo{
    display:flex;
    justify-content: space-around;
    align-items: center;

}
.header .search-form{
    position: absolute;
    top: 115%; right: 7%;
    background: white;
    width: 20rem;
    height: 4rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
}
.header .search-form.active{
    transform: scaleY(1);
}



.maintext{
    width:95%;
    height: 90vh;
    background: transparent;
    position: inherit;
    position: absolute;
    top:8%;
    margin: 1rem auto;
    right: 0;
    display: flex;
    align-items: center;
    justify-content:flex-start;
    left:0;
}
.leftside{
    width:35%;
    height: 100%;
    background: transparent;
    display: flex;
    font-family: 'Pacifico', cursive;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    color: white;
    padding: 1rem;
}
.first{
    width: 80%;
    background-color: transparent;
    color:white;
    height: 30%;
    font-size: 3.5rem;
    padding: 1rem;
    text-align:center ;
}
.rightside{
    width:65%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background:transparent;
    overflow: hidden;
}

.second{
    width: 100%;
    height: 10%;
    background: white;
    color: black;
    text-align: center;
    border-radius: 2rem;
    font-family: 'Cormorant SC', serif;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:1.1rem;
}

button{
    width: 60%;
    height: 4rem;
    border-radius: 2rem;
    background: black;
    color: var(--pink);
    border: 2px solid white;
    font-family: "Pacifico",cursive;
    font-size: 2rem;
    transition: 1s;
}
button:hover{
    word-spacing: 0.5rem;
    font-size: 2.2rem;
    cursor:pointer;
    padding-left: 1rem;
}
.container2{
    width: 100%;
    height: auto;
    background: black;
}
.heading{
    color: white;
    font-size: 4rem;
    padding-top: 4rem;
    text-align: center;
    font-family: 'Oleo Script Swash Caps', cursive;
    font-weight: lighter;
}
.underline{
    background: white;
    height: 0.5rem;
    width: 35%;
    position: relative;
    top:10%;
    border-radius: 2rem;
    left: 33%;
}

.mens{
    width: 100%;
    height: auto;
    background-color:black;
}

.top img{
    width: 100%;
    height: 100%;
}
.bottom{
    width: 100%;
    height: 45%;
    background-color:grey ;
}
@media(min-aspect-ratio: 16/9){
    .video{
        width: 100%;
        height: auto;
    }
}

@media(max-aspect-ratio: 16/9){
    .video{
        width: auto;
        height: 100%;
    }
}
